body
{
    background-color: rgb(8, 8, 8);
    color:gold;
    font-family: 'Helvetica', sans-serif;
    justify-content: center;
    font-size: 20px;
    padding: 20px;
    margin: 0 auto;
}
img{
    border-radius: 10px;
   
}


h1{
    text-align: center;
}
h2{
    font-size: 20px;
}
div{
    color: gold;
    background-color: rgb(22, 21, 21);
    font-size: 20px;
    padding: 20px;
    display: flex;
}
.container{
    padding: 10px;
    display:flex;
    background-color:rgb(22, 21, 21);
    flex-direction: row;
    border: 2px solid gold;
    border-radius: 10px;
    flex-wrap: wrap;
}
.caja{
    color: gold
    background-color: black;
    font-size: 20px;
    padding: 1px; 
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid gold;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
   
}
.caja:hover{
    color: black;
    background-color: gold;
    font-size: 20px;
    padding: 1px;  
    scale: 1.03;

}

@media screen and (max-width: 600px)
{
 .container{
    flex-direction: column;
 }
 img{
    width: 100%;
 }
 .caja{
    flex-direction: column;
 }

}
